NEXT_PUBLIC_PRIVY_APP_ID=cmqrts71a009g0cjv11nilan9
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
BIRDEYE_API_KEY=4fc5822e2b8146dca6459bb1179602ac
NEXT_PUBLIC_JUPITER_API_URL=https://quote-api.jup.ag/v6

